{% extends 'base.html' %}

{% block site_title %}เปลี่ยนรหัสผ่านสำเร็จ - {% endblock %}

{% block content %}

<center><section class="content-section content-section-single">
  <div class="content-container content-container-narrow">
    <h3 class="content-title">โปรไฟล์ของคุณ {{ user.username}}</h3><br>
    <p>
      <a href="{% url 'profile' %}">ข้อมูลผู้ใช้</a>
      <a href="{% url 'password_change' %}">เปลี่ยนรหัสผ่าน</a>
    </p><br>
    <h5>เปลี่ยนรหัสผ่านสำเร็จ</h5>  
    <p>รหัสผ่านของคุณถูกเปลี่ยนแล้ว</p><br>
    <p>
      <a href="{% url 'home' %}">กลับสู่หน้าหลัก</a>
    </p>
  </div>
</section></center>

{% endblock %}