{% extends 'base.html' %}

{% block site_title %}เปลี่ยนรหัสผ่าน - {% endblock %}

{% block content %}

<center><section class="content-section content-section-single">
  <div class="content-container content-container-narrow">
    <h3 class="content-title">โปรไฟล์ของคุณ {{ user.username}}</h3><br>
    <p>
      <a href="{% url 'profile' %}">ข้อมูลผู้ใช้</a>&nbsp;|
      <a href="{% url 'password_change' %}">เปลี่ยนรหัสผ่าน</a>
    </p><br>
    <h5>เปลี่ยนรหัสผ่าน</h5><br>  
    <form action="{% url 'password_change' %}" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.as_p}}
        <p>
          <br><button class="button button-primary" type="submit">บันทึก</button>
        </p>
      </form>
      <br>
      <p>
        <a href="{% url 'home' %}">กลับสู่หน้าหลัก</a>
      </p>
  </div>
</section></center>

{% endblock %}