{% extends 'base.html' %}

{% block site_title %}]ส่งอีเมลสำหรับเปลี่ยนรหัสผ่าน - {% endblock %}

{% block content %}

<center><section class="content-section content-section-single">
  <div class="content-container content-container-narrow">
    <h3 class="content-title">ส่งอีเมลสำหรับเปลี่ยนรหัสผ่าน</h3>
    <p>กรุณาตรวจสอบอีเมลของคุณ</p>
    <br>
    <p>
        <a class="button button-primary" href="{% url 'login' %}">กลับไปเข้าสู่ระบบ</a>
    </p>
  </div>
</section></center>

{% endblock %}