{% extends 'base.html' %}

{% block site_title %}]เปลี่ยนรหัสผ่านใหม่ - {% endblock %}

{% block content %}

<center><section class="content-section content-section-single">
  <div class="content-container content-container-narrow">
    {% if validlink %}
    <h3 class="content-title">เปลี่ยนรหัสผ่านใหม่</h3><br>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <br>
      <p>
        <button class="button button-primary" type="submit">บันทึก</button>
      </p>
    </form>
    {% else %}
    <h3 class="content-title">ลิงก์ใช้งานไม่ได้</h3>
    <p>ลิงก์หมดอายุหรือถูกใช้ไปแล้ว</p>
    <br>
    <p>
        <a class= "button button-primary" href="{% url 'home' %}">กลับสู่หน้าหลัก</a>
    </p>
    {% endif%}
  </div>
</section></center>

{% endblock %}